#box1{
    border: 2px solid red;
    padding: 10px 20px;
    margin: 10px 20px;

    width: 50%;
    height: 50%;

}

#box2{
    border: 2px solid red;
    padding: 10px 20px;
    margin: 10px 20px;

    width: 50%;
    height: 50%;

}
